{block content}
<div class="container">
    <h1 >Stránka nenalezena</h1>

    <p>Stránka, kterou požadujete, neexistuje. Zkontrolujte prosím adresu, zda v ní nemáte překlep.</p>

    <p><a href="/">Přejít na úvodní stránku</a></p>

    <p style="text-align: center">
        <a href="/"><img src="/img/herman.png"></a>
    </p>

    <p>
        <small>error 404</small>
    </p>
</div>
