{block title}Kontakt{/block}
{block content}
<section>
    <div class="wrapper bg-gray">
        <div class="container">
            <h1><span class="dot-end">Kontakt</span></h1>

            <div class="organizers">

            </div>

        </div>
    </div>
</section>
