<section>
    <div class="wrapper">
        <div class="container text-center">
            <h1 class="program-heading"><span class="icon icon-calendar"></span><span class="dot-end">Program</span></h1>
            <p>
                Program bude zveřejněn
                {$dates->program|date:'j. n.'}
            </p>
        </div>
    </div>
</section>